$color0: #d6d6d6;
$color1:#221c25;
$color2:#4c4557;
$color3: #a5a5a5;
$color4: #f7f9ff;

$color5:#161616;
$color6:#131313;

// #3d0021, #5b0032, #7a1a32, #d14e32, #f47c2d
// #3f4046, #fffede, #e0b967, #5c2d2d, #2b2b30, #70be34, #11be66
// #ead9c5, #d1ab72, #035a59, #033041, #03142e
 
// #ddbb93 #606c70 #ccccbf #b38766 
